<div class="card" ng-controller="ComentariosController as comc">
  <div class="item item-divider">Comentários: {{comentarios.length}}</div>

  <ion-list ng-show="comentarios.length">
    <ion-item ng-repeat="comentario in comentarios" class="item item-avatar">
      <img ng-cache ng-src="{{settings.apiUrl+cachedUser.image_url}}"/>
      <div ng-hide="comentario.novo">
        <p><strong>{{comentario.user_identifier}}</strong> em {{comentario.created_at | date:'d/M H:mm' }}:</p>
        <p>{{comentario.texto}}</p>
      </div>
      <div ng-show="comentario.novo" class="row">
        <textarea rows="2" ng-model="comentario.texto" placeholder="Sua opiniao..."></textarea>
        <button ng-disabled="comentario.texto.length < 3" class="button button-balanced button-small" ng-click="postComment()">Enviar</button>
      </div>
    </ion-item>
  </ion-list>
</div>
