<ion-view view-title="{{responsa_obj.title}}">
    <ion-content>
        <div class="ficha-sintese">

            <div class="ficha-sintese-cabecalho">
                <div class="fs-title">{{responsa_obj.title}}</div>
                <div class="fs-tagline">{{responsa_obj.tagline}}</div>
                <div class="fs-img-logo"></div>
            </div>
            <ng-include ng-if="responsa_obj.type" src="'templates/ficha_sintese/acoes_'+responsa_obj.type+'.html'"></ng-include>


                    <div class="card">
                        <div class="item item-image" ng-if="ro_location.lat">
                            <leaflet id="mapa-ficha-sintese" center="ro_location" defaults="map_config_fs" markers="map_markers"  height="200px" width="100%"></leaflet>
                        </div>
                        <div class="item item-fs-info" ng-show="responsa_obj.address_line1">
                            <p ng-click="responsa_obj.viewInNativeMap()" ><i class="icon icone-detalhe responsa-ponto-no-mapa"></i> {{responsa_obj.address_line1}} {{responsa_obj.address_number}}, <strong>{{responsa_obj.address_city}} - {{responsa_obj.address_state}}</strong></p>
                        </div>
                        <div class="item item-fs-info" ng-show="responsa_obj.phone_number1">
                            <p><i class="icon icone-detalhe responsa-mobile"></i> {{responsa_obj.phone_number1}}</p>
                        </div>
                        <div class="item item-fs-info" ng-show="responsa_obj.address_website_url">
                            <p><i class="icon icone-detalhe responsa-globo"></i> {{responsa_obj.address_website_url}}</p>
                        </div>
                    </div>


                    <ng-include src="'templates/comentarios.html'"></ng-include>


        </div>

    </ion-content>
</ion-view>