<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="text-center">
            <h2>Responsa</h2>
            <h5>Passos rumo ao bem viver<br/>individual e coletivo</h5>
            <br/>
            <h4>{{pageTitle}}</h4>
        </div>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="E-mail" ng-model="data.email">
            </label>
            <label class="item item-input  item-stacked-label" ng-hide="pageState == 'RECOVER_PASSWORD'">
                <input type="password" placeholder="Senha" ng-model="data.password">
            </label>
            <label class="item item-input item-stacked-label" ng-show="pageState == 'NEW_USER'">
                <input type="password" placeholder="Confirmar senha" ng-model="data.password_confirmation">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="doAction()">{{buttonTitle}}</button>
        <br/>
        <p ng-hide="pageState == 'LOGIN'"><a href="#" ng-click="changeState('LOGIN')">Já sou cadastrada(o)</a></p>
        <p ng-hide="pageState == 'NEW_USER'"><a href="#" ng-click="changeState('NEW_USER')">Novo cadastro</a></p>
        <p ng-hide="pageState == 'RECOVER_PASSWORD'"><a href="#" ng-click="changeState('RECOVER_PASSWORD')">Esqueci minha senha</a></p>
    </ion-content>
</ion-view>