<ion-side-menus>
  <ion-side-menu-content edge-drag-threshold="1">
    <ion-nav-bar class="bar-stable bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right" ></ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainView"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item-icon-left" ui-sref="app.encontre">
          <i class="icon responsa-marcador-outline"></i> Encontre
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.cheguei">
          <i class="icon responsa-cheguei"></i> Cheguei
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.boicotes">
          <i class="icon responsa-mao-aberta"></i> Boicotes
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.desafios">
          <i class="icon responsa-bussola"></i> Desafios e Descobertas
        </ion-item>
        <!--ion-item  menu-close class="item-icon-left" href="#/app/playlists">
          <i class="icon responsa-mail"></i> Notificações
        </ion-item-->
        <ion-item menu-close class="item-icon-left" ui-sref="app.tests">
          Testes de desenvolvimento
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.user_config">
          <i class="icon ion-person"></i> {{cachedUser.name || cachedUser.email}}
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="signOut()">
          <i class="icon ion-power"></i> Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
