<ion-view view-title="{{user.email}}">
  <ion-content>
    <div class="text-center">
      <img class="main_photo" ng-cache ng-src="{{settings.apiUrl+user.image_url}}"/><br/>
      <button class="button button-dark button-outline button-small " ng-click="selectAndUpload()">Mudar imagem</button>
      <br/><br/>
    </div>

    <div class="list">
      <p class="item item-input item-stacked-label">
        <span class="input-label">Seu nome:</span>
        <input type="text" ng-model="user.name">
      </p>
      teste antes
      <edit-button></edit-button>
    </div>

    <div class="padding">
      <button class="button button-block button-dark button-outline" ng-click="save()">Salvar</button>
    </div>
  </ion-content>
</ion-view>
