<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="text-center">
            <h3>Responsa</h3>
            <h4>Cadastro de nova(o) usuária(o)</h4>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="E-mail" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="createUser()">Cadastrar</button>
        <button class="button button-block button-positive" ng-click="gotoLogin()">Já sou cadastrada(o)</button>

    </ion-content>
</ion-view>