<ion-view>
    <ion-nav-title><i class="icon responsa-cheguei"></i> Selecione um lugar</ion-nav-title>
    <ion-content>
        <ng-include src="'templates/encontre/resultados.html'"></ng-include>
    </ion-content>
</ion-view>
