<ion-view view-title="Teste de Câmera">
    <ion-content padding="true">
        <h1>Camera</h1>
        <button ng-click="getPhoto()" class="button button-block button-primary">Tirar Foto</button>
        <button ng-click="getPhotoFile()" class="button button-block button-primary">Selecionar imagem</button>

        <div>{{imageURI}}</div>
        <img ng-src="{{lastPhoto}}" style="max-width: 100%">
    </ion-content>
</ion-view>
