<ion-view view-title="Geolocation">
    <ion-content padding="true">
        <h1>Geolocation</h1>
        <button ng-click="getPositionLow()" class="button button-block button-primary">Obter localização (low accuracy)</button>
        <div ng-if="coords">
            Latitude: {{coords.latitude}}<br/>
            Longitude: {{coords.longitude}}<br/>

            <div id="map" data-tap-disabled="true"></div>

        </div>
        <button ng-click="getPositionHigh()" class="button button-block button-primary">Obter localização (high accuracy)</button>
        <div ng-if="coords">
            Latitude: {{coords2.latitude}}<br/>
            Longitude: {{coords2.longitude}}<br/>

            <div id="map" data-tap-disabled="true"></div>

        </div>
    </ion-content>
    <ion-footer-bar>
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
</ion-view>
