<ion-view view-title="Testes">
    <ion-content padding="true">
        <button onclick="location='#/app/tests/camera'" class="button button-block button-primary">Teste de Câmera</button>
        <button onclick="location='#/app/tests/geolocation'" class="button button-block button-primary">Geolocation</button>
        <button ng-click="openPopover($event)" class="button button-block button-primary">Open Popover</button>
        <button ng-click="actionSheet()" class="button button-block button-primary">action sheet</button>
        <button ng-click="openModal()" class="button button-block button-primary">Open Modal</button>
        <button ui-sref="app.slide_tests" class="button button-block button-primary">Open Slides</button>
        <button ng-click="localNotification()" class="button button-block button-primary">Local Notification</button>

    </ion-content>
</ion-view>
