
    <ion-slide-box auto-play="false" does-continue="false" show-pager="false">
        <ion-slide>
            <div class="box blue"><h1>BLUE</h1>balyu</div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow"><h1>YELLOW</h1>balyu3</div>
        </ion-slide>
        <ion-slide>
            <div class="box pink"><h1>PINK</h1>balyu5</div>
        </ion-slide>
    </ion-slide-box>

