<div class="item tabs tabs-secondary tabs-icon-bottom tabs-color-active-energized">
    <a class="tab-item" ng-class="{'tab-item-active' : responsa_obj.gostou   }" ng-click="responsa_obj.toggleGostar()">
        <i class="icon responsa-coracao"></i>
        Gostei
    </a>
    <a class="tab-item" ng-class="{'tab-item-active' : responsa_obj.favoritou   }" ng-click="responsa_obj.toggleFavoritar()">
        <i class="icon responsa-estrela"></i>
        Favorito
    </a>
    <a class="tab-item" ng-click="responsa_obj.compartilhar()">
        <i class="icon responsa-compartilhar"></i>
        Compartilhar
    </a>
    <a class="tab-item" href="#">
        <i class="icon responsa-encontro"></i>
        Encontros
    </a>
</div>