<div class="item tabs tabs-secondary tabs-icon-bottom tabs-color-active-energized">
    <a class="tab-item" ng-class="{'tab-item-active' : responsa_obj.marcou_presenca   }" ng-click="responsa_obj.toggleMarcarPresenca()">
        <i class="icon responsa-pessoa"></i>
        Eu vou
    </a>
    <a class="tab-item" ng-class="{'tab-item-active' : responsa_obj.gostou   }" ng-click="responsa_obj.toggleGostar()">
        <i class="icon responsa-coracao"></i>
        Gostei
    </a>
    <a class="tab-item" ng-click="responsa_obj.compartilhar()">
        <i class="icon responsa-compartilhar"></i>
        Compartilhar
    </a>
</div>