<ion-modal-view>
    <ion-header-bar class="bar-stable bar-balanced">
        <button style="" class="button back-button buttons  button-clear header-item" ng-click="closeModal()"><i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">Marcar um encontro</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome do encontro</span>
                <input type="text" placeholder="Escreva aqui o título do seu evento" ng-model="ro.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Chamada</span>
                <input type="text" maxlength="40" placeholder="Explique o evento em 40 caracteres" ng-model="ro.tagline">
            </label>
            <p class="item item-input item-stacked-label">
                <span class="input-label" >Local (<a href="#" ng-click="ro.guessAddress()">aqui?</a>)</span>
                <input type="text" ng-model="ro.address_line1" placeholder="ex: Rua Rio Grande do Sul, 116, Curitiba"/>
            </p>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Dê detalhes:</span>
                <textarea ng-model="ro.description" placeholder="Descrição do evento"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefone</span>
                <input type="text" ng-model="ro.phone_number1" placeholder="ex: (41) 9920-6369"/>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-dark button-outline" ng-click="save()">Salvar</button>
        </div>
    </ion-content>

</ion-modal-view>