<ion-modal-view>
    <ion-header-bar class="bar-stable bar-balanced">
        <button style="" class="button back-button buttons  button-clear header-item" ng-click="closeModal()"><i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">Sugira um local ou iniciativa</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome do local ou iniciativa</span>
                <input type="text" placeholder="ex: Cooperafloresta " ng-model="ro.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">O que acontece neste local?</span>
                <input type="text" maxlength="40" placeholder="ex: Venda de mudas de frutíferas" ng-model="ro.tagline">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Dê detalhes:</span>
                <textarea ng-model="ro.description"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Endereço (<a href="#" ng-click="guessAddress()">aqui?</a>)</span>
                <input type="text" placeholder="ex: Rua Rio Grande do Sul, 116"/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefone</span>
                <input type="text" placeholder="ex: (41) 9920-6369"/>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-dark button-outline" ng-click="save()">Salvar</button>
        </div>
    </ion-content>

</ion-modal-view>