<ion-view view-title="Boicotes">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="boicote in boicotes" href="#/app/boicotes/{{boicote.id}}">
                {{boicote.title}}
            </ion-item>
        </ion-list>
        <ion-list type="list-inset" ng-show="responsa_objects.length">
            <ion-item ng-repeat="responsa_obj in responsa_objects" class="item-avatar" href="#/app/ficha_sintese/{{responsa_obj.id}}">
                <img src="/img/economia-solidaria.gif">
                <h3>{{responsa_obj.title}}</h3>
                <h5>{{responsa_obj.tagline}}</h5>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
