<ion-view title="{{title}}">
    <tmp></tmp><!-- vini: é importante que ion-tabs não seja a primeira tag do ion-view, senão essa view não entra no historico de navegação... -->

    <ion-nav-buttons side="right" >
        <span class="item-icon-right" >
          <i class="icon ion-android-search" ng-click="searchROs()"></i>
        </span>
        <span class="item-icon-right">
        <i class="icon responsa-passo">150</i>
        </span>
        <ng-include src="'templates/components/passos-nav.html'"></ng-include>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-only tabs-color-active-balanced">


        <!-- Perto de Mim Tab -->
        <ion-tab icon-off="responsa-marcador" icon-on="responsa-marcador" on-select="selectTab(1,'Perto de você')">
            <ion-view>
            <ion-content>
                <page-spinner ng-hide="position_known"></page-spinner>
                <div ng-controller="EncontrePertoController as pertoCtrl" ng-show="position_known">
                    <ion-refresher
                            pulling-text="Puxe para atualizar posição..."
                            on-refresh="doRefresh()">
                    </ion-refresher>
                    <leaflet id="perto" center="currentPosition" defaults="map_config_perto" markers="map_markers"  height="200px" width="100%"></leaflet>
                    <ng-include src="'templates/encontre/resultados.html'"></ng-include>
                </div>
            </ion-content>
            </ion-view>
            <ion-footer-bar class="bar-balanced text-center">
                <div class="buttons text-center" ng-click="novoLocalIniciativa()">
                    <button class="button"><strong>Não achou?</strong> Cadastre um local ou iniciativa</button>
                </div>
            </ion-footer-bar>
        </ion-tab>

        <!-- Favoritos Tab -->
        <ion-tab icon-off="responsa-estrela" icon-on="responsa-estrela" on-select="selectTab(2)">
            <ion-view>
            <ion-content>
                <div ng-controller="EncontreFavoritosController as favCtrl">
                    <ng-include src="'templates/encontre/resultados.html'"></ng-include>
                </div>
            </ion-content>
            </ion-view>
        </ion-tab>

        <!-- Encontros Tab -->
        <ion-tab icon-off="responsa-encontro" icon-on="responsa-encontro" on-select="selectTab(3,'Encontros')">
            <ion-view>
            <ion-content>
                <div ng-controller="EncontreEncontrosController as encontrosCtrl">
                    <ion-list type="list-inset">
                        <ion-item ng-repeat="responsa_obj in responsa_objects" class="item-avatar" href="#/app/ficha_sintese/{{responsa_obj.id}}">
                            <img src="/img/krishna.png">
                            <h3>{{responsa_obj.title}}</h3>
                            <h5>{{responsa_obj.tagline}}</h5>
                        </ion-item>
                    </ion-list>

                    <div class="padding" ng-hide="responsa_objects.length">
                        Nenhum registro encontrado
                    </div>
                </div>
            </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>


</ion-view>

