<ion-modal-view>
    <ion-header-bar class="bar-stable bar-balanced item-input-inset">
        <button style="" class="button back-button buttons  button-clear header-item" ng-click="closeModal()"><i class="icon ion-arrow-left-c"></i>
        </button>

        <label class="item-input-wrapper">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input type="search" placeholder="Localizar iniciativas" ng-model="keyword" ng-change="search(keyword)">
        </label>
        <ion-spinner class="spinner-stable" ng-show="searching"></ion-spinner>

    </ion-header-bar>
    <ion-content>
        <ng-include src="'templates/encontre/resultados.html'"></ng-include>
    </ion-content>
</ion-modal-view>