<div ng-show="results_arrived" ng-controller="EncontreResultados as resc" id="resultados">
    <ion-list ng-show="responsa_objects.length">
        <ion-item ng-repeat="responsa_obj in responsa_objects" class="item-avatar" ng-click="handleClickResultado(responsa_obj.id)">
            <!--img src="img/economia-solidaria.gif"-->
            <span class="resultados-title">{{responsa_obj.title}}</span><span class="resultados-distance">{{responsa_obj.distance | distance_km}}</span>
            <p>{{responsa_obj.tagline}}</p>
        </ion-item>
    </ion-list>

    <div class="padding" ng-hide="responsa_objects.length">
        Não existe registro de nenhuma iniciativa do consumo responsável em sua área. <br/>
        Você quer ajudar a comunidade a encontrar?<br/>
        <button class="button button-block button-primary" ui-sref="app.encontre.sugerir" ng-click="clickOnResult()">Sugerir local ou iniciativa</button>

    </div>
</div>
