/* Empty. Add your own CSS if you like */
/*
.menu-left {
    background-color: black;
    color: white;
}

.menu-left .item, .menu-left .item .item-content {
    background-color: black;
    color: white;
}
*/

/* Responsa Icon Set */

@font-face {
    font-family: "ResponsaIcons";
    src: url("../fonts/iconesresponsa.otf");
    font-weight: normal;
    font-style: normal; }

.responsa-mao-aberta:before, .responsa-mao-indicador:before, .responsa-lupa:before, .responsa-cheguei:before, .responsa-comentario:before, .responsa-mapa:before, .responsa-bussola:before, .responsa-marcador-outline:before, .responsa-marcador:before, .responsa-encontro:before, .responsa-foto:before, .responsa-gears:before, .responsa-compartilhar:before, .responsa-coracao:before, .responsa-horario:before, .responsa-marcador-bussola:before, .responsa-globo:before, .responsa-comentario-mais:before, .responsa-estrela:before, .responsa-quarto:before, .responsa-editar:before, .responsa-comentario-ok:before, .responsa-ponto-no-mapa:before, .responsa-reticencias:before, .responsa-pessoa:before, .responsa-rede:before, .responsa-tres-faixas:before, .responsa-proibido:before, .responsa-passo:before, .responsa-gostar-outline:before, .responsa-gostar:before, .responsa-marcador-2:before, .responsa-mail:before, .responsa-placas:before, .responsa-mobile:before{
    display: inline-block;
    font-family: "ResponsaIcons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.responsa-mao-aberta:before {
    content: "A"; }

.responsa-mao-indicador:before {
    content: "O"; }

.responsa-lupa:before {
    content: "B"; }

.responsa-cheguei:before {
    content: "c"; }

.responsa-comentario:before {
    content: "C"; }

.responsa-mapa:before {
    content: "d"; }

.responsa-bussola:before {
    content: "D"; }

.responsa-marcador-outline:before {
    content: "e"; }

.responsa-marcador:before {
    content: "p"; }

.responsa-encontro:before {
    content: "E"; }

.responsa-foto:before {
    content: "f"; }

.responsa-gears:before {
    content: "F"; }

.responsa-compartilhar:before {
    content: "g"; }

.responsa-coracao:before {
    content: "G"; }

.responsa-horario:before {
    content: "h"; }

.responsa-marcador-bussola:before {
    content: "H"; }

.responsa-globo:before {
    content: "i"; }

.responsa-comentario-mais:before {
    content: "I"; }

.responsa-estrela:before {
    content: "j"; }

.responsa-quarto:before {
    content: "J"; }

.responsa-editar:before {
    content: "K"; }

.responsa-comentario-ok:before {
    content: "l"; }

.responsa-ponto-no-mapa:before {
    content: "L"; }

.responsa-reticencias:before {
    content: "m"; }

.responsa-pessoa:before {
    content: "M"; }

.responsa-rede:before {
    content: "n"; }

.responsa-tres-faixas:before {
    content: "N"; }

.responsa-proibido:before {
    content: "o"; }

.responsa-passo:before {
    content: "P"; }

.responsa-gostar-outline:before {
    content: "q"; }

.responsa-gostar:before {
    content: "Q"; }

.responsa-marcador-2:before {
    content: "r"; }

.responsa-mail:before {
    content: "R"; }

.responsa-placas:before {
    content: "t"; }

.responsa-mobile:before {
    content: "T"; }

.icone-detalhe:before {
    font-size: 1.4em;
    vertical-align: middle;
    margin-right: 0.2em;
    color: #8cbd66; /* balanced */
}
/*
ion-side-menu .icon:before {
    font-size: 1.7em;
    vertical-align: middle;
    margin-right: 0.1em;
}*/

.item-icon-right .icon.responsa-passo {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-shadow: -2px 0 #408786, 0 2px #408786, 2px 0 #408786, 0 -2px #408786;
    margin-top: 5px;
}

ion-header-bar .responsa-passo:before{
    font-size: 45px;
    color: #408786;
    text-shadow: none;
    margin-top: -10px;
    margin-right: -25px;
}

ion-header-bar .pontos-passo {
    position: absolute;
    right: 15px;
    top: 16px;
}

/* other data */

#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

.pane, .view {
    background-color: #f3f0ed;
}
/*
.list-inset {
    background-color: inherit;
}
*/


/* Resultados */

.resultados-distance {
    margin-left: 1em;
    font-size: 70%;
}
/*
.back-text {
    display: none !important;
}*/

div.tabs.tabs-color-active-energized {
    color: #cdc4be;
}

div.tabs.tabs-color-active-energized .tab-item-active  {
    color: #ff9616;
}

div.tabs.tabs-color-active-energized .tab-item-active i:before {
    text-shadow: 0px -1px #D57A16;
    padding-top: 1px;
}

ion-tabs.tabs-color-active-balanced .tab-item {
    /*color: #cdc4be;*/
}

.main_photo {
    width: 150px;
    height: 150px;
    margin-top: -15px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-width: 3px;
    border-color: #8cbd66;
    border-style: solid;
}

.ficha-sintese-cabecalho {
    background: -webkit-linear-gradient(#1A2710, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1A2710, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1A2710, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1A2710, black); /* Standard syntax */
    height: 230px;
    position: relative;
}

.ficha-sintese-cab-spacing {
    background: white;
    height: 5px;
}

.ficha-sintese-cabecalho .fs-title {
    position: absolute;
    bottom: 43px;
    left: 110px;
    right: 0px;
    color: white;
    font-size: 22px;
}

.ficha-sintese-cabecalho .fs-tagline {
    position: absolute;
    top: 195px;
    left: 110px;
    right: 0px;
    color: white;
    font-size: 13px;
}

.ficha-sintese-cabecalho .fs-img-logo {
    border: 2px solid white;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.ficha-sintese .item.tabs {
    border: none;
}

.item.item-fs-info p {
    white-space: normal;
    overflow: visible;
    text-indent: -14px;
    margin-left: 20px;
}

.list {
  background-color: white;
}

/*bugfix? for right icons in header bar...*/

ion-header-bar .item-icon-right {
    padding-right: 35px;
    position: relative;
}

ion-header-bar ion-spinner {
    margin-left: 7px;
}

ion-header-bar .ng-hide:not(.ng-hide-animate) {
    visibility: hidden;
    display: inline !important;
}

/*
ion-header-bar .item-input-wrapper {
    background: none;
    border-bottom: 2px solid white;
    border-radius: 0;
}



ion-header-bar .item-input-wrapper input[type="text"]::-webkit-input-placeholder,
ion-header-bar .item-input-wrapper input[type="text"]:-moz-placeholder,
ion-header-bar .item-input-wrapper input[type="text"]::-moz-placeholder,
ion-header-bar .item-input-wrapper input[type="text"]:-ms-input-placeholder,
ion-header-bar .item-input-wrapper input[type="search"]::-webkit-input-placeholder,
ion-header-bar .item-input-wrapper input[type="search"]:-moz-placeholder,
ion-header-bar .item-input-wrapper input[type="search"]::-moz-placeholder,
ion-header-bar .item-input-wrapper input[type="search"]:-ms-input-placeholder{
    color: orange;
}
*/

page-spinner  ion-spinner.spinner svg {
    height: 75px;
    width: 75px;
}
/*
page-spinner {
    position: relative;
}*/

page-spinner > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 13;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    background-color: rgba(0,0,0,0.1);
    /*visibility: hidden;
    opacity: 0; */
}